<div id="pos-{{x.id}}" class="card" style="width:100%;">
	<div class="row card-content secondary-text-color">
		<div class="col s12">
			{% if x.user.user == request.user or request.user == group.owner.user %}
				<button onclick="aClicked({{ x.id }});" class="btn-flat right"><i class="fi-x btn-flat"></i></button>
			{% endif %}
			<blockquote class="divider-color">{{ x.content }}</blockquote>
			<a href="/user/{{x.user.user.id}}"><div class="chip truncate">
					<img src="{{ x.user.getProfilePicture }}">
					{{ x.user.user.username }}
			</div></a>
			<span class="right">{{ x.date }}</span>
		</div>
	</div>
</div>
